<html>
<head>
<title>TipMap demo</title>
</head>
<body>
<div id="tipmap"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../TipMap.js"></script>
<script>
new TipMap({
  $el: $('#tipmap'),
  imagePath: '<%= imagePath %>',
  fullWidth: <%= fullWidth %>,
  fullHeight: <%= fullHeight %>,
  cropWidth: <%= cropWidth %>,
  cropHeight: <%= cropHeight %>
});
</script>
</body>
</html>
